#/src/main/java/de/dhbw/rahmlab/**/impl
*.log
**/target/**
!target/_tmp
!target/_tmp/Linux64
!target/_tmp/Linux64/**
!target/_tmp/Windows64
!target/_tmp/Windows64/**
!target/classes
!target/classes/nativeLibs
!target/classes/nativeLibs/linux-amd64
!target/classes/nativeLibs/linux-amd64/**
!target/classes/nativeLibs/windows-amd64
!target/classes/nativeLibs/windows-amd64/**

